* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

#puzzle-outline {
  display: none;
}

.display-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #daddbb;
  top: 0;
  left: 0;

}

.display-screen *{
  margin: 20px;
  justify-items: center;
  font-family: "Pirata One", system-ui;
  font-size: 200%;
  color: #0e1124;
  text-align: center;

}

.display-screen button{
margin-top: 10px;
padding: 8px;
background-color: rgb(126, 91, 45);
border-color: rgb(71, 51, 25);;
border-radius: 5px;
}

#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content:center;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 1;

}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #77e069;
}


.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#river {
  display: block;
  background-color: #53a7e8;
  height: 50%;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.tile {
  border: 3px solid rgb(0, 83, 0);
  border-radius: 6px;
  margin: 20px;
  width: 70px;
  height: 70px;
}

/*
.tile img {
  visibility: hidden;
}
  */
.turn-red {
  background-color: red;
}

.boat {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.cargo {
  display: block;
  margin-bottom: 0;
}

.shaking {
  animation: warning-shake 0.5s 2;
}

@keyframes warning-shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content:center;*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #daddbb;
  padding: 20px;




}







#messages {
  visibility: hidden;
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;



  background-color: #77e069;
  padding: 20px;
  border: 10px solid darkgreen;
  border-radius: 15px;
}

#win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content:center;*/
  position: absolute;

  padding: 20px;
  visibility: hidden;
  z-index: 1;
}

